<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingqing.test.dao.test.config.TestConfigMapper" >
  <resultMap id="BaseResultMap" type="com.qingqing.test.domain.config.TestConfig" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result property="configKey" column="config_key" jdbcType="VARCHAR" />
    <result property="configValue" column="config_value" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, config_key, config_value, is_default, is_deleted, create_time, last_update_time
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_config
    where is_deleted = FALSE
  </select>
</mapper>