<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingqing.test.dao.test.inter.TestInterfaceCatelogMapper" >
  <resultMap id="BaseResultMap" type="com.qingqing.test.domain.inter.TestInterfaceCatelog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="catelog_name" property="catelogName" jdbcType="VARCHAR" />
    <result column="sort_num" property="sortNum" jdbcType="INTEGER" />
    <result column="ref_type" property="refType" javaType="CatelogRefType" />
    <result column="ref_value" property="refValue" jdbcType="VARCHAR" />
    <result column="sub_item_cnt" property="subItemCnt" jdbcType="INTEGER" />
    <result column="parent_catelog_id" property="parentCatelogId" jdbcType="BIGINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="clazz" property="clazz" jdbcType="VARCHAR" />
    <result column="cache_catelog_index" property="cacheCatelogIndex" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, catelog_name, sort_num, ref_type, ref_value, sub_item_cnt, parent_catelog_id, is_deleted, create_time, last_update_time, clazz, cache_catelog_index
  </sql>

  <select id="selectByAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_interface_catelog
    where is_deleted = FALSE
  </select>

  <select id="findById" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_interface_catelog
    where id = #{id}
  </select>

  <insert id="insert" parameterType="com.qingqing.test.domain.inter.TestInterfaceCatelog" keyProperty="id" useGeneratedKeys="true">
    insert into t_interface_catelog (catelog_name, sort_num, ref_type, ref_value, sub_item_cnt, parent_catelog_id, is_deleted, create_time, clazz, cache_catelog_index)
    values (#{catelogName,jdbcType=VARCHAR}, #{sortNum,jdbcType=INTEGER}, #{refType,javaType=CatelogRefType}, #{refValue, jdbcType=VARCHAR}, #{subItemCnt, jdbcType=INTEGER},
      #{parentCatelogId, jdbcType=BIGINT},0, now(), #{clazz,jdbcType=VARCHAR}, #{cacheCatelogIndex,jdbcType=VARCHAR}
      )
  </insert>

  <select id="selectForUpdate" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_interface_catelog
    where id = #{id} for update
  </select>

  <update id="incSubItemCnt">
    update t_interface_catelog set sub_item_cnt = sub_item_cnt + 1
    where id = #{id}
  </update>

  <update id="deleteById">
    delete from t_interface_catelog
    where id = #{id}
  </update>

  <select id="selectByRefTypeAndRefValue" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_interface_catelog
    where ref_type = #{refType, javaType=CatelogRefType} and ref_value = #{refValue} and is_deleted = 0
  </select>

  <update id="updateCatelogIndex">
    update t_interface_catelog
    set cache_catelog_index = #{catelogIndex,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>