<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingqing.test.dao.test.inter.TestInterfaceCatelogMapper" >
  <resultMap id="BaseResultMap" type="com.qingqing.test.domain.inter.TestInterfaceCatelog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="catelog_name" property="catelogName" jdbcType="VARCHAR" />
    <result column="catelog_index" property="catelogIndex" jdbcType="VARCHAR" />
    <result column="ref_type" property="refType" javaType="CatelogRefType" />
    <result column="ref_value" property="refValue" jdbcType="VARCHAR" />
    <result column="sort_desc_num" property="sortDescNum" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, catelog_name, catelog_index, ref_type, ref_value, sort_desc_num, is_deleted, create_time, last_update_time
  </sql>

  <select id="selectByAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_interface_catelog
    where is_deleted = FALSE
  </select>

  <select id="findById" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_interface_catelog
    where id = #{id}
  </select>

  <insert id="insert" parameterType="com.qingqing.test.domain.inter.TestInterfaceCatelog" keyProperty="id" useGeneratedKeys="true">
    insert into t_interface_catelog (catelog_name, catelog_index, ref_type, ref_value, sort_desc_num,
      is_deleted, create_time
      )
    values (#{catelogName,jdbcType=VARCHAR}, #{catelogIndex,jdbcType=VARCHAR}, #{refType,javaType=CatelogRefType}, #{refValue, jdbcType=VARCHAR}, 0,
      0, now()
      )
  </insert>

  <select id="selectForUpdate" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_interface_catelog
    where id = #{id} for update
  </select>

  <update id="incSortDescNum">
    update t_interface_catelog set sort_desc_num = sort_desc_num + 1
    where id = #{id}
  </update>

  <update id="deleteById">
    update t_interface_catelog set is_deleted = 1
    where id = #{id}
  </update>

  <select id="selectByRefTypeAndRefValue" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_interface_catelog
    where ref_type = #{refType, javaType=CatelogRefType} and ref_value = #{refValue} and is_deleted = 0
  </select>

</mapper>