<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingqing.test.dao.test.inter.TestInterfaceMapper" >
  <resultMap id="BaseResultMap" type="com.qingqing.test.domain.inter.TestInterface" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="interface_name" property="interfaceName" jdbcType="VARCHAR" />
    <result column="interface_url" property="interfaceUrl" jdbcType="VARCHAR" />
    <result column="interface_type" property="interfaceType" javaType="InterfaceType" />
    <result column="request_type" property="requestType" javaType="RequestType" />
    <result column="request_user_type" property="requestUserType" javaType="UserType" />
    <result column="sort_desc_num" property="sortDescNum" jdbcType="INTEGER" />
    <result column="catelog_index" property="catelogIndex" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="param_detail" property="paramDetail" jdbcType="VARCHAR" />
    <result column="param_class_name" property="paramClassName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, interface_name, interface_url, interface_type, request_type, request_user_type, 
    sort_desc_num, catelog_index, is_deleted, create_time, last_update_time, param_detail, param_class_name
  </sql>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="Base_Column_List" />
    from t_interface
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="com.qingqing.test.domain.inter.TestInterface" keyProperty="id" useGeneratedKeys="true">
    insert into t_interface (interface_name, interface_url,
      interface_type, request_type, request_user_type, 
      sort_desc_num, catelog_index, is_deleted,
      create_time, param_detail, param_class_name)
    values (#{interfaceName,jdbcType=VARCHAR}, #{interfaceUrl,jdbcType=VARCHAR},
      #{interfaceType,javaType=InterfaceType}, #{requestType,javaType=RequestType}, #{requestUserType,javaType=UserType},
      #{sortDescNum,jdbcType=INTEGER}, #{catelogIndex,jdbcType=INTEGER}, #{isDeleted,jdbcType=TINYINT},
      now(), #{paramDetail, jdbcType=VARCHAR}, #{paramClassName, jdbcType=VARCHAR})
  </insert>

  <insert id="update" parameterType="com.qingqing.test.domain.inter.TestInterface">
    update t_interface set
    interface_name = #{interfaceName,jdbcType=VARCHAR},
    interface_url = #{interfaceUrl,jdbcType=VARCHAR},
    interface_type = #{interfaceType,javaType=InterfaceType},
    request_type = #{requestType,javaType=RequestType},
    request_user_type = #{requestUserType,javaType=UserType},
    param_detail = #{paramDetail, jdbcType=VARCHAR},
    param_class_name = #{paramClassName, jdbcType=VARCHAR}
    where  id = #{id}
  </insert>

  <select id="selectByCatelogId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="Base_Column_List" />
    from t_interface
    where catelog_id = #{catelogId,jdbcType=BIGINT}
  </select>
</mapper>