<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingqing.test.dao.test.user.TestUserIpMapper" >
  <resultMap id="BaseResultMap" type="com.qingqing.test.domain.user.TestUserIp" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result property="userName" column="user_name" jdbcType="VARCHAR" />
    <result property="userIp" column="user_ip" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="head_image" property="headImage" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, user_name, user_ip, is_deleted, create_time, last_update_time, head_image
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_user_ip
  </select>

  <insert id="insert" parameterType="com.qingqing.test.domain.user.TestUserIp">
    insert into t_user_ip(user_name, user_ip, is_deleted, head_image, create_time)
    value(#{userName,jdbcType=VARCHAR} , #{userIp,jdbcType=VARCHAR} , 0, #{headImage,jdbcType=VARCHAR} , now())
    ON DUPLICATE KEY UPDATE
      	is_deleted = 0,
      	user_name = #{userName, jdbcType=VARCHAR}
  </insert>

  <update id="updateHeadImage">
    update t_user_ip
    set head_image = #{headImage, jdbcType=VARCHAR}
    where user_ip = #{userIp,jdbcType=VARCHAR}
  </update>

  <update id="updateDeleted">
    update t_user_ip
    set is_deleted = #{isDeleted,jdbcType=BOOLEAN}
    where id = #{id, jdbcType=BIGINT}
  </update>

  <select id="findById" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_user_ip
    where id  = #{id,jdbcType=BIGINT}
  </select>

</mapper>