<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.qingqing.test.dao.passport.UserSessionMapper">

    <resultMap id="UserSessionMap" type="com.qingqing.test.domain.UserSession">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_type" property="userType" javaType="UserType"/>
        <result column="session_type" property="sessionType" jdbcType="INTEGER"/>
        <result column="session_id" property="sessionId" jdbcType="BIGINT"/>
        <result column="last_login_device_id" property="lastLoginDeviceId" jdbcType="CHAR"/>
        <result column="last_login_ip" property="lastLoginIp" jdbcType="CHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="tb"> t_user_session </sql>

    <sql id="cols_all">
        `id`, <include refid="cols_exclude_id" />, `last_update_time`
    </sql>

    <sql id="cols_exclude_id">
        `user_id`,`user_type`,`session_type`,`session_id`,`last_login_device_id`,`last_login_ip`,`create_time`
    </sql>

    <sql id="vals">
        #{userId, jdbcType=BIGINT},#{userType, javaType=UserType},#{sessionType, jdbcType=INTEGER},#{sessionId, jdbcType=BIGINT},
        #{lastLoginDeviceId, jdbcType=CHAR},#{lastLoginIp, jdbcType=CHAR},now()
    </sql>

    <insert id="upsert" parameterType="com.qingqing.test.domain.UserSession" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO <include refid="tb"/> ( <include refid="cols_exclude_id"/> ) VALUES
        ( #{userId, jdbcType=BIGINT},
        #{userType, javaType=UserType},
        #{sessionType, jdbcType=INTEGER},
        #{sessionId, jdbcType=BIGINT},
        #{lastLoginDeviceId, jdbcType=CHAR},
        #{lastLoginIp, jdbcType=CHAR},now()) ON DUPLICATE KEY UPDATE
        session_id=#{sessionId, jdbcType=BIGINT},
        last_login_device_id=#{lastLoginDeviceId, jdbcType=CHAR},
        last_login_ip=#{lastLoginIp, jdbcType=CHAR}
    </insert>

    <select id="findByUser" resultMap="UserSessionMap">
        SELECT <include refid="cols_all"/> FROM <include refid="tb"/>
        WHERE user_id = #{userId, jdbcType=BIGINT} AND user_type = #{userType, javaType=UserType}
    </select>

    <select id="findByUserSessionType" resultMap="UserSessionMap">
        SELECT <include refid="cols_all"/> FROM <include refid="tb"/>
        WHERE user_id = #{userId, jdbcType=BIGINT} AND user_type = #{userType, javaType=UserType} AND session_type = #{sessionType, jdbcType=INTEGER}
    </select>
</mapper>